In [ ]:
from google.colab import drive
from google.colab import files

In [ ]:
!mkdir GD
#ОЗНАЧАЕТ СОЗДАТЬ ДИРЕКТОРИЮ НА ГУГЛ ДИСК

mkdir: cannot create directory ‘GD’: File exists

In [ ]:
!ls

flights.csv  for_test.csv  GD  sample_data

In [ ]:
drive.mount('/GD',force_remount=True)
# монтирует гугл диск наш

Mounted at /GD

In [ ]:
!cp -r /GD/'My Drive'/flights.csv  .
# означает с папки GD есть файл flights.csvи мы егооткрываем сейчас.

In [ ]:
!cp -r /GD/'My Drive'/for_test.csv  .

In [ ]:
! ls

flights.csv  for_test.csv  GD  sample_data

In [ ]:
import pandas as pd

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [ ]:
df = pd.read_csv('flights.csv',index_col = 'id')

In [ ]:
Y = df.Delay
X = df.drop(['Delay'], axis = 1)

In [ ]:
air_enc = OneHotEncoder(sparse = False)
from_enc = OneHotEncoder(sparse = False)
to_enc = OneHotEncoder(sparse = False)
# где sparse = False будет возвращать не разряженную матрицу, а прямо массив
#

In [ ]:
airlines = air_enc.fit_transform(X.Airline.values.reshape(-1,1))
fr = from_enc.fit_transform(X.AirportFrom.values.reshape(-1,1))
to = to_enc.fit_transform(X.AirportTo.values.reshape(-1,1))
#где reshape(-1,1) нужен чтобы добавить еще одно измерение, мы передаем матрицу с одним столбцом, это требование библиотеки sklearn для кодирования
# и получаем 3 разряженные матрицы!

In [ ]:
airlines.shape

(431506, 18)

In [ ]:
to.shape

(431506, 293)

In [ ]:
fr.shape

(431506, 293)

In [ ]:
# создадим фрэймы с преобразованными данными и сохраним индексы, например у нас аргументы: airlines - это матрица из 0 и 1,
# columns=air_enc.get_feature_names_out() - выдай все имена, которые создал в виде списка
# index = X.index передаем индекс исходного массива
air_df = pd.DataFrame(airlines, columns=air_enc.get_feature_names_out(), index = X.index)
fr_df = pd.DataFrame(fr, columns=from_enc.get_feature_names_out(), index = X.index)
to_df = pd.DataFrame(to, columns=to_enc.get_feature_names_out(), index = X.index)

In [ ]:
to_df

,x0_ABE,x0_ABI,x0_ABQ,x0_ABR,x0_ABY,x0_ACT,x0_ACV,x0_ACY,x0_ADK,x0_ADQ,...,x0_TXK,x0_TYR,x0_TYS,x0_UTM,x0_VLD,x0_VPS,x0_WRG,x0_XNA,x0_YAK,x0_YUM
id,,,,,,,,,,,,,,,,,,,,,
298844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
453222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
372442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
164167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X = pd.concat([X, air_df, fr_df, to_df], axis=1)

In [ ]:
X

,Airline,Flight,AirportFrom,AirportTo,DayOfWeek,Time,Length,x0_9E,x0_AA,x0_AS,...,x0_TXK,x0_TYR,x0_TYS,x0_UTM,x0_VLD,x0_VPS,x0_WRG,x0_XNA,x0_YAK,x0_YUM
id,,,,,,,,,,,,,,,,,,,,,
298844,OO,6438,SFO,GEG,6,535,121,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
453222,AA,1486,LAS,DFW,1,495,160,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270658,EV,5003,ATL,CHA,4,967,51,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
372442,OO,7010,DEN,MTJ,3,689,56,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328276,EV,5180,DTW,ALB,7,1305,96,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,AA,2287,TUL,DFW,3,595,75,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90145,DL,2493,RIC,ATL,1,586,114,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33644,DL,1159,ATL,SAT,4,1170,163,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376878,CO,1877,PHL,IAH,3,920,230,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
164167,WN,42,PHX,HOU,5,750,150,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X = X.drop(['Airline','AirportFrom','AirportTo'], axis = 1)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
sc = StandardScaler()
X = sc.fit_transform (X)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25)

In [ ]:
import tensorflow as tf
from tensorflow.keras import models
from tensorflow.keras import layers

In [ ]:
model = models.Sequential()

model.add(layers.Dense(512, activation="elu"))
model.add(layers.Dense(512, activation="elu"))
model.add(layers.Dense(1, activation="sigmoid"))

In [ ]:
model.compile(optimizer=tf.keras.optimizers.RMSprop(0.0001),
              loss="binary_crossentropy",
              metrics=["accuracy"])

In [ ]:
history = model.fit(X_train, Y_train, validation_data = (X_test, Y_test), epochs=10, batch_size=1024)

Epoch 1/10
317/317 [==============================] - 34s 105ms/step - loss: 0.6401 - accuracy: 0.6370 - val_loss: 0.6330 - val_accuracy: 0.6431
Epoch 2/10
317/317 [==============================] - 29s 92ms/step - loss: 0.6303 - accuracy: 0.6452 - val_loss: 0.6309 - val_accuracy: 0.6433
Epoch 3/10
317/317 [==============================] - 27s 84ms/step - loss: 0.6281 - accuracy: 0.6472 - val_loss: 0.6278 - val_accuracy: 0.6480
Epoch 4/10
317/317 [==============================] - 32s 103ms/step - loss: 0.6259 - accuracy: 0.6500 - val_loss: 0.6281 - val_accuracy: 0.6449
Epoch 5/10
317/317 [==============================] - 29s 92ms/step - loss: 0.6240 - accuracy: 0.6504 - val_loss: 0.6275 - val_accuracy: 0.6465
Epoch 6/10
317/317 [==============================] - 27s 86ms/step - loss: 0.6222 - accuracy: 0.6531 - val_loss: 0.6239 - val_accuracy: 0.6507
Epoch 7/10
317/317 [==============================] - 32s 100ms/step - loss: 0.6201 - accuracy: 0.6558 - val_loss: 0.6226 - val_accuracy: 0.6536
Epoch 8/10
317/317 [==============================] - 30s 94ms/step - loss: 0.6185 - accuracy: 0.6565 - val_loss: 0.6222 - val_accuracy: 0.6548
Epoch 9/10
317/317 [==============================] - 28s 89ms/step - loss: 0.6166 - accuracy: 0.6587 - val_loss: 0.6219 - val_accuracy: 0.6540
Epoch 10/10
317/317 [==============================] - 30s 95ms/step - loss: 0.6152 - accuracy: 0.6599 - val_loss: 0.6217 - val_accuracy: 0.6518

In [ ]:
# СОБИРАЕМ ОБРАБОТЧИК ТЕСТОВЫХ ДАННЫХ

In [ ]:
def to_many_zeros(X_):
    airlines = air_enc.transform(X_.Airline.values.reshape(-1,1))
    fr = from_enc.transform(X_.AirportFrom.values.reshape(-1,1))
    to = to_enc.transform(X_.AirportTo.values.reshape(-1,1))

    print (fr.shape)
    
    air_df = pd.DataFrame(airlines, columns=air_enc.get_feature_names_out(), index = X_.index)
    fr_df = pd.DataFrame(fr, columns=from_enc.get_feature_names_out(), index = X_.index)
    to_df = pd.DataFrame(to, columns=to_enc.get_feature_names_out(), index = X_.index)

    X_ = pd.concat([X_, air_df, fr_df, to_df], axis=1)
    
    return X_.drop(['Airline','AirportFrom','AirportTo'], axis = 1)

In [ ]:
#ЧИТАЕМ ТЕСТОВЫЕ ДАННЫЕ
tef = pd.read_csv('for_test.csv', index_col = 'id')

In [ ]:
# ПРЕОБРАЗУЕМ ТЕСТОВЫЕ ДАННЫЕ 
X_test = to_many_zeros(tef)

(107877, 293)

In [ ]:
X_test.shape

(107877, 608)

In [ ]:
preds = (model.predict(X_test) > 0.5).astype(int)

In [ ]:
preds

array([[0],
       [0],
       [0],
       ...,
       [1],
       [1],
       [0]])

In [ ]:
#оформляем результат
answer = pd.DataFrame(preds, index = X_test.index, columns = ['ans'])

In [ ]:
answer

        ans
id
26832     0
150199    0
347019    0
92565     0
398703    0
...     ...
62380     0
247768    0
474175    1
372742    1
256130    0

[107877 rows x 1 columns]

In [ ]:
answer.to_csv('solution.csv')
#сохраняем

In [ ]:
!cp solution.csv /GD/'My Drive'/solution.csv

In [ ]:
!ls

flights.csv  for_test.csv  GD  sample_data  solution.csv