In [1]:
import pandas as pd
import pipes as pp
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
from sklearn.metrics import confusion_matrix, precision_score, \
              recall_score, f1_score, precision_recall_curve, roc_curve, roc_auc_score, \
              auc, mean_squared_error
from sklearn.metrics import confusion_matrix, precision_score, \
              recall_score, f1_score, precision_recall_curve, roc_curve, roc_auc_score, \
              auc, mean_squared_error, accuracy_score

# 1.We review the information. Preparing data for processing format

In [2]:
df = pd.read_csv('train.csv')

df = df.drop(['CustomerID','ID','Name','TypeofLoan','SSN'], axis = 1)

In [3]:
df = pp.myPipe.transform(df)

In [4]:
df

,Month,Age,AnnualIncome,MonthlyInhandSalary,NumBankAccounts,NumCreditCard,InterestRate,NumofLoan,Delayfromduedate,NumofDelayedPayment,...,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,1,2,3,4,5,6,7
0,0.0,23.0,19114.12,1824.843333,3,4,3,4.0,3,7.0,...,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,23.0,19114.12,0.000000,3,4,3,4.0,-1,0.0,...,1,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2.0,0.0,19114.12,0.000000,3,4,3,4.0,3,7.0,...,1,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3.0,23.0,19114.12,0.000000,3,4,3,4.0,5,4.0,...,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4.0,23.0,19114.12,1824.843333,3,4,3,4.0,6,0.0,...,1,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3.0,25.0,39628.99,3359.415833,4,6,7,2.0,23,7.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
99996,4.0,25.0,39628.99,3359.415833,4,6,7,2.0,18,7.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99997,5.0,25.0,39628.99,3359.415833,4,6,5729,2.0,27,6.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
99998,6.0,25.0,39628.99,3359.415833,4,6,7,2.0,20,0.0,...,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99999,0.0,25.0,39628.99,3359.415833,4,6,7,2.0,18,6.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
X = df.drop(['CreditScore','PaymentBehaviour'], axis = 1)

In [6]:
Y = df['CreditScore']

In [7]:
Y.value_counts()

0    71002
1    28998
Name: CreditScore, dtype: int64

# scaling and standardization of values

In [8]:
from sklearn.preprocessing import StandardScaler
mms = StandardScaler()
X = mms.fit_transform(X)

#from sklearn.preprocessing import MinMaxScaler
#mms = MinMaxScaler()
#X = mms.fit_transform(X)

Standardize features by removing the mean and scaling to unit variance.
Standardization of a dataset is a common requirement for many machine learning estimators: 
they might behave badly if the individual features do not more or less look like standard normally distributed data.

Method fit_transform:Fits transformer to X and y with optional parameters fit_params and returns a transformed version of X.

# Создание проверочного набора (Create a validation set)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train,  Y_test = train_test_split(X, Y, test_size = 0.5, random_state = 0)

In [12]:
X_train.shape, Y_train.shape

((50000, 43), (50000,))

In [43]:
#X_train.shape, Y_train.shape

((55932, 43), (55932,))

The train_test_split function of the sklearn. model_selection package in Python 
splits arrays or matrices into random subsets for train and test data, respectively.

# a. ML With Teacher

# Classification with voting

A Voting Classifier is a machine learning model that trains on an ensemble of numerous models 
and predicts an output (class) based on their highest probability of chosen class as the output.
It simply aggregates the findings of each classifier passed into Voting Classifier 
and predicts the output class based on the highest majority of voting.
The idea is instead of creating separate dedicated models and finding the accuracy for each them,
we create a single model which trains by these models and predicts output based on their combined majority 
of voting for each output class.

Hard Voting: In hard voting, the predicted output class is a class with the highest majority of votes 
i.e the class which had the highest probability of being predicted by each of the classifiers. 
Suppose three classifiers predicted the output class(A, A, B), so here the majority predicted A as output. 
Hence A will be the final prediction.

# Hard Voting

In [44]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

#Support vector machines (SVMs) 
#are a set of supervised learning methods used for classification, regression and outliers detection.


# Жесткое голосование
#Hard Voting
log_reg = LogisticRegression(random_state = 0)
rnd_clf = RandomForestClassifier(random_state = 0)
svm_clf = SVC(random_state = 0)

voting_clf = VotingClassifier(
    estimators=[('lr', log_reg), ('rf', rnd_clf), ('svc', svm_clf)],
    voting='hard')

In [14]:
voting_clf.fit(X_train, Y_train)

VotingClassifier(estimators=[('lr', LogisticRegression(random_state=0)),
                             ('rf', RandomForestClassifier(random_state=0)),
                             ('svc', SVC(random_state=0))])

In [ ]:
#формируем кортеж из всех наших классификаторов, потом их перебираем,тренируем их,делаем предсказание на тестовом наборе и печататем
#we form a tuple of all our classifiers , then iterate over them, train them, make a prediction on the test set and print them
for clf in (log_reg, rnd_clf, svm_clf, voting_clf):
    clf.fit(X_train, Y_train)
    y_pred = clf.predict(X_test)
print(clf.__class__.__name__, accuracy_score(Y_test, y_pred))

Soft Voting: In soft voting, the output class is the prediction based on the average 
of probability given to that class. Suppose given some input to three models, 
the prediction probability for class A = (0.30, 0.47, 0.53) and B = (0.20, 0.32, 0.40). 
So the average for class A is 0.4333 and B is 0.3067, the winner is clearly class A
because it had the highest probability averaged by each classifier.

In [ ]:
# Мягкое голосование,считаются вероятности и потом складываются. НО: ВАЖНО,регрессоры должны уметь выдавать вероятность
#не все классификаторы умеют это делать.

# Soft voting, probabilities are considered and then added up. BUT: IMPORTANT, regressors must be able to output the probability
# not all classifiers can do this.

log_reg = LogisticRegression()
rnd_clf = RandomForestClassifier()
svm_clf = SVC(probability=True)

voting_clf = VotingClassifier(
    estimators=[('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf)],
    voting='soft')
voting_clf.fit(X_train, Y_train)

In [ ]:
for clf in (log_reg, rnd_clf, svm_clf, voting_clf):
    clf.fit(X_train, Y_train)
    y_pred = clf.predict(X_test)
print(clf.__class__.__name__, accuracy_score(Y_test, y_pred))

# Bagging

A Bagging classifier is an ensemble meta-estimator that fits base classifiers each on 
random subsets of the original dataset and then aggregate their individual predictions 
(either by voting or by averaging) to form a final prediction.

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

bag_clf = BaggingClassifier(
    DecisionTreeClassifier(random_state=0), n_estimators=500,
    max_samples=100, bootstrap=True, n_jobs=-1, random_state=0)
bag_clf.fit(X_train, Y_train)
y_pred = bag_clf.predict(X_test)

In [ ]:
print(accuracy_score(Y_test, y_pred))

In [ ]:
tree_clf = DecisionTreeClassifier(random_state=0)
tree_clf.fit(X_train, Y_train)
y_pred_tree = tree_clf.predict(X_test)
print(accuracy_score(Y_test, y_pred_tree))