In [71]:
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [72]:
df = pd.read_csv('Churn_Modelling1.csv')

In [73]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [74]:
#           для столбца Age определите :
#         a)  размах вариации
#         b) среднее по выборке
#         c)медиану
#         d)стандартное отклонение

In [75]:
# достаним наш столбец
df.loc[0:,["Age"]]

      Age
0      42
1      41
2      42
3      39
4      43
...   ...
9995   39
9996   35
9997   36
9998   42
9999   28

[10000 rows x 1 columns]

In [76]:
# a)  размах вариации
# формула: R = Xmax - Xmin

Xmax = df['Age'].max()
Xmin = df['Age'].min()
print("Max value is:", Xmax,'\n' "Min value is:",Xmin)
R = Xmax - Xmin
print("размах вариации=",R)

Max value is: 92
Min value is: 18
размах вариации= 74

In [77]:
# b) среднее по выборке

average  = df['Age'].mean()
average
print("среднее по выборке",average)

среднее по выборке 38.9218

In [78]:
# b) среднее по выборке
average =df['Age'].sum()/10000
average
print("среднее по выборке",average)

среднее по выборке 38.9218

In [79]:
#   c)медиану

median = df['Age'].median()
print("медиана = ",median)

медиана =  37.0

In [80]:
# d)стандартное отклонение:
# 1. от наших значений в столбике Age отнимаем среднее значение по выборке:
lin_div = df['Age'] - average

In [81]:
lin_div

0        3.0782
1        2.0782
2        3.0782
3        0.0782
4        4.0782
         ...
9995     0.0782
9996    -3.9218
9997    -2.9218
9998     3.0782
9999   -10.9218
Name: Age, Length: 10000, dtype: float64

In [82]:
#2. Берем lin_div по модулю, суммируем значения и делим на общее количество и получаем наше стандартное отклонение.

standartDeviation = np.abs(lin_div).sum()/10000
print("стандартное отклонение = ",standartDeviation)

стандартное отклонение =  7.94097904

In [85]:
# ЭТО РПАВИЛЬНОЕ РЕШЕНИЕ ДЛЯ СТАНДАРТНОГО ОТКЛОНЕНИЯ!!!
df['Age'].std()

10.487806451704591

In [84]:
                          # Те же самые параметры рассчитайте для столбца Balance.

In [54]:
# достаним наш столбец
df.loc[0:,["Balance"]]

        Balance
0          0.00
1      83807.86
2     159660.80
3          0.00
4     125510.82
...         ...
9995       0.00
9996   57369.61
9997       0.00
9998   75075.31
9999  130142.79

[10000 rows x 1 columns]

In [18]:
# мы видим, что у нас есть нулевые значения( 3617 раз!), 
# но мы их не заменяем ...
df["Balance"].value_counts()

0.00         3617
130170.82       2
105473.74       2
85304.27        1
159397.75       1
             ...
81556.89        1
112687.69       1
108698.96       1
238387.56       1
130142.79       1
Name: Balance, Length: 6382, dtype: int64

In [55]:
# a)  размах вариации
# формула: R = Xmax - Xmin

Xmax = df['Balance'].max()
Xmin = df['Balance'].min()
print("Max value is:", Xmax,'\n' "Min value is:",Xmin)
R = Xmax - Xmin
print("размах вариации=",R)

Max value is: 250898.09
Min value is: 0.0
размах вариации= 250898.09

In [56]:
# b) среднее по выборке
average = df["Balance"].mean()
average
print("среднее по выборке = ",average)

среднее по выборке  76485.88928799961

In [21]:
# замена нулевых значений
# df.loc[(df.Balance == 0.00),'Balance'] = 76485.88928799961

In [57]:
df["Balance"]

0            0.00
1        83807.86
2       159660.80
3            0.00
4       125510.82
          ...
9995         0.00
9996     57369.61
9997         0.00
9998     75075.31
9999    130142.79
Name: Balance, Length: 10000, dtype: float64

In [58]:
#   c)медиану

median = df['Balance'].median()
print("медиана = ",median)

медиана =  97198.54000000001

In [59]:
# d)стандартное отклонение:
# 1. от наших значений в столбике Balance отнимаем среднее значение по выборке:
lin_div = df['Balance'] - average
lin_div

0      -76485.889288
1        7321.970712
2       83174.910712
3      -76485.889288
4       49024.930712
            ...
9995   -76485.889288
9996   -19116.279288
9997   -76485.889288
9998    -1410.579288
9999    53656.900712
Name: Balance, Length: 10000, dtype: float64

In [60]:
#2. Берем lin_div по модулю, суммируем значения и делим на общее количество и получаем наше стандартное отклонение.

standartDeviation = np.abs(lin_div).sum()/10000
print("стандартное отклонение = ",standartDeviation)

стандартное отклонение =  56660.71196486566

In [ ]:
# Отфильтруйте данные - выберите для анализа записи о клиентах из Германии.
# Рассчитайте для столбца Balance отфильтрованного датасета  
# размах вариации
# среднее по выборке
# медиану
# стандартное отклонение
# для клиентов из Германии.

In [ ]:
# Отфильтруйте данные - выберите для анализа записи о клиентах из Германии.
df[(df['Geography'] == 'Germany')&(df['HasCrCard'] == 1)]['Age'].mean()

In [61]:
# все наши данные по Германии
df[(df['Geography'] == 'Germany')]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1

In [62]:
# достаним баланс только 
GermanyBalance = df[(df['Geography'] == 'Germany')]['Balance']
GermanyBalance

7       115046.74
15      143129.41
16      132602.88
26      136815.64
28      141349.43
          ...
9982    137145.12
9984     90602.42
9986    183579.54
9990     35016.60
9998     75075.31
Name: Balance, Length: 2509, dtype: float64

In [64]:
# a)  размах вариации
# формула: R = Xmax - Xmin

GermanyBalanceMax = df[(df['Geography'] == 'Germany')]['Balance'].max()
GermanyBalanceMin = df[(df['Geography']== 'Germany')]['Balance'].min()
print("Max value is:", GermanyBalanceMax,'\n' "Min value is:",GermanyBalanceMin)
R = GermanyBalanceMax - GermanyBalanceMin
print("размах вариации=",R)

Max value is: 214346.96
Min value is: 27288.43
размах вариации= 187058.53

In [65]:
# b) среднее по выборке
average = df[(df['Geography'] == 'Germany')]['Balance'].mean()
average
print("среднее по выборке = ",average)

среднее по выборке  119730.11613391782

In [67]:
#   c)медиану

median = df[(df['Geography']=='Germany')]['Balance'].median()
print("медиана = ",median)

медиана =  119703.1

In [68]:
# d)стандартное отклонение:
# 1. от наших значений в столбике Balance отнимаем среднее значение по выборке:
lin_div = df[(df['Geography']=='Germany')]['Balance'] - average
lin_div

7       -4683.376134
15      23399.293866
16      12872.763866
26      17085.523866
28      21619.313866
            ...
9982    17415.003866
9984   -29127.696134
9986    63849.423866
9990   -84713.516134
9998   -44654.806134
Name: Balance, Length: 2509, dtype: float64

In [69]:
#2. Берем lin_div по модулю, суммируем значения и делим на общее количество и получаем наше стандартное отклонение.

standartDeviation = np.abs(lin_div).sum()/10000
print("стандартное отклонение = ",standartDeviation)

стандартное отклонение =  5312.282694840175

In [ ]:
# Соотнесите с результатами общего датасета Balance общий и Balance Германии, сделайте предположения о чем говорят данные. 


                                                # ОБЩИЙ Balance:
    # размах вариации = 250898.09
    # среднее по выборке = 76485.88928799961
    # медиана =  97198.54000000001
    # стандартное отклонение =  56660.71196486566
    
                                                # Germany Balance:
        # размах вариации = 187058.53
        # среднее по выборке = 119730.11613391782
        # медиана =  119703.1
        # стандартное отклонение =  5312.282694840175
        
        
# Размах вариации Германии меньше по сравнению с общим размахом.
# Среднее по выборке и медиана в Германии практически совпали и имеют значения выше,чем общие значения по всем странам,
# что говорит о том, что баланс клиентов Германии выше в среднем на 43,245 тыс. по сравнению с клиентами других стран
# Каждое значение в выборке Германии в среднем откланяется на 5312.3 от среднего значения, в то время как в общей выборке 
# значения отклоняются на 56660.7., что почти в 11 раз больше,чем по сравнению с Германией. Стандартное отклонение Германии
# обладает меньшей вариабельностью и среднее значение более точное.