In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('flights.csv',index_col = 'id')

In [32]:
df.shape

(431506, 8)

In [33]:
df

       Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
id
298844      OO    6438         SFO       GEG          6   535     121      0
453222      AA    1486         LAS       DFW          1   495     160      1
270658      EV    5003         ATL       CHA          4   967      51      1
372442      OO    7010         DEN       MTJ          3   689      56      0
328276      EV    5180         DTW       ALB          7  1305      96      1
...        ...     ...         ...       ...        ...   ...     ...    ...
4898        AA    2287         TUL       DFW          3   595      75      0
90145       DL    2493         RIC       ATL          1   586     114      1
33644       DL    1159         ATL       SAT          4  1170     163      1
376878      CO    1877         PHL       IAH          3   920     230      1
164167      WN      42         PHX       HOU          5   750     150      1

[431506 rows x 8 columns]

In [34]:
df = pd.get_dummies(df, "Airline")

In [35]:
df

,Flight,DayOfWeek,Time,Length,Delay,Airline_9E,Airline_AA,Airline_AS,Airline_B6,Airline_CO,...,Airline_TXK,Airline_TYR,Airline_TYS,Airline_UTM,Airline_VLD,Airline_VPS,Airline_WRG,Airline_XNA,Airline_YAK,Airline_YUM
id,,,,,,,,,,,,,,,,,,,,,
298844,6438,6,535,121,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453222,1486,1,495,160,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270658,5003,4,967,51,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372442,7010,3,689,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
328276,5180,7,1305,96,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,2287,3,595,75,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90145,2493,1,586,114,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33644,1159,4,1170,163,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376878,1877,3,920,230,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
164167,42,5,750,150,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df = pd.get_dummies(df, "AirportFrom")

In [38]:
df = pd.get_dummies(df, "AirportTo")

In [39]:
df

,Flight,DayOfWeek,Time,Length,Delay,Airline_9E,Airline_AA,Airline_AS,Airline_B6,Airline_CO,...,Airline_TXK,Airline_TYR,Airline_TYS,Airline_UTM,Airline_VLD,Airline_VPS,Airline_WRG,Airline_XNA,Airline_YAK,Airline_YUM
id,,,,,,,,,,,,,,,,,,,,,
298844,6438,6,535,121,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453222,1486,1,495,160,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270658,5003,4,967,51,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372442,7010,3,689,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
328276,5180,7,1305,96,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,2287,3,595,75,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90145,2493,1,586,114,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33644,1159,4,1170,163,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376878,1877,3,920,230,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
164167,42,5,750,150,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
# 24*60 = 1440
import numpy as np
def make_harmonic_features_cos(value, period=1440):
    value *= 2 * np.pi / period
    return np.cos(value)


def make_harmonic_features_sin(value, period=1440):
    value *= 2 * np.pi / period
    return np.sin(value)

In [41]:
df['time_sin']= df.Time.apply(make_harmonic_features_sin)

In [42]:
df['time_cos']= df.Time.apply(make_harmonic_features_cos)

In [43]:
# 24*60 = 1440
def make_harmonic_features_cos_2(value, period=7):
    value *= 2 * np.pi / period
    return np.cos(value)


def make_harmonic_features_sin_2(value, period=7):
    value *= 2 * np.pi / period
    return np.sin(value)

In [44]:
df['DayOfWeek_sin']= df.DayOfWeek.apply(make_harmonic_features_sin)
df['DayOfWeek_cos']= df.DayOfWeek.apply(make_harmonic_features_cos)

In [45]:
df.drop(["Time","DayOfWeek"], axis = 1 , inplace = True)

In [46]:
df

,Flight,Length,Delay,Airline_9E,Airline_AA,Airline_AS,Airline_B6,Airline_CO,Airline_DL,Airline_EV,...,Airline_VLD,Airline_VPS,Airline_WRG,Airline_XNA,Airline_YAK,Airline_YUM,time_sin,time_cos,DayOfWeek_sin,DayOfWeek_cos
id,,,,,,,,,,,,,,,,,,,,,
298844,6438,121,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.722364,-0.691513,0.026177,0.999657
453222,1486,160,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0.831470,-0.555570,0.004363,0.999990
270658,5003,51,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,-0.880891,-0.473320,0.017452,0.999848
372442,7010,56,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.134851,-0.990866,0.013090,0.999914
328276,5180,96,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,-0.555570,0.831470,0.030539,0.999534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898,2287,75,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0.518773,-0.854912,0.013090,0.999914
90145,2493,114,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0.551937,-0.833886,0.004363,0.999990
33644,1159,163,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,-0.923880,0.382683,0.017452,0.999848
376878,1877,230,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,-0.766044,-0.642788,0.013090,0.999914
164167,42,150,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-0.130526,-0.991445,0.021815,0.999762

In [47]:
import tensorflow as tf
from tensorflow.keras import models
from tensorflow.keras import layers

In [48]:
Y = df.Delay
X = df.drop(["Delay"],axis = 1)

In [49]:
Y

id
298844    0
453222    1
270658    1
372442    0
328276    1
         ..
4898      0
90145     1
33644     1
376878    1
164167    1
Name: Delay, Length: 431506, dtype: int64

In [50]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
sc = MinMaxScaler()

In [51]:
X = sc.fit_transform(X)

In [55]:
X.shape

(431506, 610)

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split (X,Y, test_size = 0.25, random_state = 0)

In [57]:
model = models.Sequential()
#layers.Dense - слой самых протсых нейроннов,берем n штук
#input_shape = (9, - это размерность наших данных
# У НАС БИНАРНАЯ КЛАССИФИКАЦИЯ И НАМ ХОРОШО ПОДХОДИТ СИГМОИДАЛЬНАЯ ФУНКЦИЯ (activation="sigmoid")
# НЕЙРОН 1 РЕШАЕТ ,0- there are no delays, 1 ,there are delays.
#
model.add(layers.Dense(300, activation="relu", input_shape = (610,)))
model.add(layers.Dense(1, activation="sigmoid"))

In [58]:
# Компиляция модели
# проверяем на этом этапе функцию потерь(двоичная кросс энтропия-оптимизирует функцию потери)
#  и нужен оптимайзер,который заставляет веса подстраивать, в нашем примере это метрика accuracy( правильное попадание в класс)
model.compile(optimizer="adam",
              loss="binary_crossentropy",
              metrics=["accuracy"])

#

In [59]:
#смотрим на количество параметров
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 300)               183300

 dense_3 (Dense)             (None, 1)                 301

=================================================================
Total params: 183,601
Trainable params: 183,601
Non-trainable params: 0
_________________________________________________________________

In [60]:
# batch_size=32 - 32 строчки,обучающих примера предъьявляться будет сети,потом накапливается ошибка,распространяется и веса накапливаются
history = model.fit(X_train, Y_train, validation_data = (X_test, Y_test), epochs=55, batch_size=32)

Epoch 1/55
10114/10114 [==============================] - 52s 5ms/step - loss: 0.6215 - accuracy: 0.6526 - val_loss: 0.6159 - val_accuracy: 0.6601
Epoch 2/55
10114/10114 [==============================] - 46s 5ms/step - loss: 0.6113 - accuracy: 0.6642 - val_loss: 0.6141 - val_accuracy: 0.6617
Epoch 3/55
10114/10114 [==============================] - 45s 4ms/step - loss: 0.6055 - accuracy: 0.6695 - val_loss: 0.6118 - val_accuracy: 0.6647
Epoch 4/55
10114/10114 [==============================] - 43s 4ms/step - loss: 0.6016 - accuracy: 0.6739 - val_loss: 0.6128 - val_accuracy: 0.6640
Epoch 5/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5981 - accuracy: 0.6778 - val_loss: 0.6125 - val_accuracy: 0.6646
Epoch 6/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5951 - accuracy: 0.6803 - val_loss: 0.6141 - val_accuracy: 0.6631
Epoch 7/55
10114/10114 [==============================] - 40s 4ms/step - loss: 0.5926 - accuracy: 0.6814 - val_loss: 0.6139 - val_accuracy: 0.6641
Epoch 8/55
10114/10114 [==============================] - 40s 4ms/step - loss: 0.5902 - accuracy: 0.6843 - val_loss: 0.6151 - val_accuracy: 0.6641
Epoch 9/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5880 - accuracy: 0.6861 - val_loss: 0.6164 - val_accuracy: 0.6627
Epoch 10/55
10114/10114 [==============================] - 43s 4ms/step - loss: 0.5860 - accuracy: 0.6884 - val_loss: 0.6179 - val_accuracy: 0.6639
Epoch 11/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5841 - accuracy: 0.6894 - val_loss: 0.6181 - val_accuracy: 0.6613
Epoch 12/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5823 - accuracy: 0.6903 - val_loss: 0.6193 - val_accuracy: 0.6630
Epoch 13/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5809 - accuracy: 0.6917 - val_loss: 0.6208 - val_accuracy: 0.6601
Epoch 14/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5795 - accuracy: 0.6935 - val_loss: 0.6210 - val_accuracy: 0.6626
Epoch 15/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5782 - accuracy: 0.6940 - val_loss: 0.6226 - val_accuracy: 0.6621
Epoch 16/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5769 - accuracy: 0.6952 - val_loss: 0.6239 - val_accuracy: 0.6612
Epoch 17/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5757 - accuracy: 0.6962 - val_loss: 0.6238 - val_accuracy: 0.6613
Epoch 18/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5746 - accuracy: 0.6966 - val_loss: 0.6243 - val_accuracy: 0.6600
Epoch 19/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5735 - accuracy: 0.6970 - val_loss: 0.6261 - val_accuracy: 0.6616
Epoch 20/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5726 - accuracy: 0.6983 - val_loss: 0.6276 - val_accuracy: 0.6587
Epoch 21/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5716 - accuracy: 0.6988 - val_loss: 0.6272 - val_accuracy: 0.6601
Epoch 22/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5707 - accuracy: 0.6999 - val_loss: 0.6287 - val_accuracy: 0.6597
Epoch 23/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5698 - accuracy: 0.7003 - val_loss: 0.6303 - val_accuracy: 0.6566
Epoch 24/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5691 - accuracy: 0.7012 - val_loss: 0.6295 - val_accuracy: 0.6604
Epoch 25/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5685 - accuracy: 0.7008 - val_loss: 0.6313 - val_accuracy: 0.6589
Epoch 26/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5678 - accuracy: 0.7018 - val_loss: 0.6313 - val_accuracy: 0.6583
Epoch 27/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5668 - accuracy: 0.7027 - val_loss: 0.6325 - val_accuracy: 0.6572
Epoch 28/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5663 - accuracy: 0.7033 - val_loss: 0.6336 - val_accuracy: 0.6583
Epoch 29/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5657 - accuracy: 0.7037 - val_loss: 0.6337 - val_accuracy: 0.6589
Epoch 30/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5651 - accuracy: 0.7039 - val_loss: 0.6344 - val_accuracy: 0.6579
Epoch 31/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5645 - accuracy: 0.7053 - val_loss: 0.6344 - val_accuracy: 0.6566
Epoch 32/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5640 - accuracy: 0.7047 - val_loss: 0.6364 - val_accuracy: 0.6568
Epoch 33/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5635 - accuracy: 0.7052 - val_loss: 0.6363 - val_accuracy: 0.6573
Epoch 34/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5628 - accuracy: 0.7056 - val_loss: 0.6371 - val_accuracy: 0.6541
Epoch 35/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5624 - accuracy: 0.7066 - val_loss: 0.6378 - val_accuracy: 0.6565
Epoch 36/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5618 - accuracy: 0.7066 - val_loss: 0.6384 - val_accuracy: 0.6568
Epoch 37/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5614 - accuracy: 0.7067 - val_loss: 0.6379 - val_accuracy: 0.6568
Epoch 38/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5610 - accuracy: 0.7071 - val_loss: 0.6390 - val_accuracy: 0.6575
Epoch 39/55
10114/10114 [==============================] - 43s 4ms/step - loss: 0.5605 - accuracy: 0.7073 - val_loss: 0.6412 - val_accuracy: 0.6547
Epoch 40/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5601 - accuracy: 0.7074 - val_loss: 0.6396 - val_accuracy: 0.6560
Epoch 41/55
10114/10114 [==============================] - 42s 4ms/step - loss: 0.5596 - accuracy: 0.7076 - val_loss: 0.6417 - val_accuracy: 0.6531
Epoch 42/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5593 - accuracy: 0.7083 - val_loss: 0.6411 - val_accuracy: 0.6551
Epoch 43/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5589 - accuracy: 0.7084 - val_loss: 0.6420 - val_accuracy: 0.6559
Epoch 44/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5586 - accuracy: 0.7089 - val_loss: 0.6421 - val_accuracy: 0.6547
Epoch 45/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5583 - accuracy: 0.7094 - val_loss: 0.6417 - val_accuracy: 0.6555
Epoch 46/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5580 - accuracy: 0.7090 - val_loss: 0.6435 - val_accuracy: 0.6542
Epoch 47/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5575 - accuracy: 0.7100 - val_loss: 0.6439 - val_accuracy: 0.6551
Epoch 48/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5572 - accuracy: 0.7102 - val_loss: 0.6443 - val_accuracy: 0.6529
Epoch 49/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5569 - accuracy: 0.7105 - val_loss: 0.6440 - val_accuracy: 0.6545
Epoch 50/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5566 - accuracy: 0.7101 - val_loss: 0.6445 - val_accuracy: 0.6535
Epoch 51/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5563 - accuracy: 0.7105 - val_loss: 0.6459 - val_accuracy: 0.6539
Epoch 52/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5561 - accuracy: 0.7103 - val_loss: 0.6456 - val_accuracy: 0.6538
Epoch 53/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5557 - accuracy: 0.7109 - val_loss: 0.6441 - val_accuracy: 0.6540
Epoch 54/55
10114/10114 [==============================] - 41s 4ms/step - loss: 0.5555 - accuracy: 0.7112 - val_loss: 0.6466 - val_accuracy: 0.6542
Epoch 55/55
10114/10114 [==============================] - 44s 4ms/step - loss: 0.5551 - accuracy: 0.7108 - val_loss: 0.6473 - val_accuracy: 0.6535